# Ignore everything
*
# specifically ignore anything ending in _df
*_df
# and bed files, which are also large
*bed

# But not scripts and stdouts
!.gitignore
!*.R
!*.Rmd
!*.stdout
!*.sh
!*.py

# even in subdirectories
!*/
